@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-width: 260px;
  font: 14px/18px Aria, sans-serif; }
  @media (min-width: 321px) {
    body {
      font: 16px/24px Aria, sans-serif; } }

a {
  text-decoration: none; }

@media (min-width: 321px) {
  .visible-only-mobile {
    display: none; } }

.visible-after-mobile {
  display: none; }
  @media (min-width: 321px) {
    .visible-after-mobile {
      display: block; } }

.visible-on-tab {
  display: none; }
  @media (min-width: 321px) {
    .visible-on-tab {
      display: block; } }
  @media (min-width: 1440px) {
    .visible-on-tab {
      display: none; } }

.content {
  max-width: 1440px;
  margin: 0 auto; }
  .content__warp {
    overflow-x: hidden;
    padding: 0 20px; }
    @media (min-width: 768px) {
      .content__warp {
        padding: 0 30px; } }
    @media (min-width: 1440px) {
      .content__warp {
        padding: 0 110px; } }

.maket {
  position: relative; }
  .maket__pos {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: .3;
    z-index: 11;
    pointer-events: none;
    display: none; }

.breakpoint {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  z-index: 999;
  -webkit-transform: translate(25%, 25%);
          transform: translate(25%, 25%);
  opacity: .5; }
  @media (min-width: 768px) {
    .breakpoint {
      background-color: deeppink; } }
  @media (min-width: 1440px) {
    .breakpoint {
      background-color: aqua; } }

h1 {
  font: normal 36px/36px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    h1 {
      font: normal 60px/60px "Oswald", sans-serif; } }

.h2, h2 {
  font: normal 36px/36px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .h2, h2 {
      font: normal 60px/60px "Oswald", sans-serif; } }

.h3, h3 {
  font: normal 24px/1 "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .h3, h3 {
      font: normal 36px/1 "Oswald", sans-serif; } }

.h4, h4 {
  font: 500 20px/30px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .h4, h4 {
      font: normal 18px/27px "Oswald", sans-serif; } }
  @media (min-width: 1440px) {
    .h4, h4 {
      font: normal 20px/30px "Oswald", sans-serif; } }

.h5, .top-nav__item, .btn, h5 {
  font: normal 14px/21px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .h5, .top-nav__item, .btn, h5 {
      font: normal 20px/30px "Oswald", sans-serif; } }

.header__warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .header__warp {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header__warp--for-cat {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2; } }
  .header__warp--push {
    margin: 0 -20px; }
    @media (min-width: 768px) {
      .header__warp--push {
        margin: 0; } }
  @media (min-width: 768px) {
    .header__warp--indent {
      padding-top: 25px; } }
  @media (min-width: 1440px) {
    .header__warp--indent {
      padding-top: 55px; } }

.header__main-sect {
  position: relative; }
  .header__main-sect--indent {
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .header__main-sect--indent {
        padding: 30px 0 0 85px; } }
    @media (min-width: 1440px) {
      .header__main-sect--indent {
        padding: 0;
        margin-bottom: 80px; } }
  .header__main-sect--catalog-indent {
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      .header__main-sect--catalog-indent {
        padding-bottom: 55px; } }
    @media (min-width: 1440px) {
      .header__main-sect--catalog-indent {
        padding-bottom: 75px; } }

@media (min-width: 1440px) {
  .header__bg-cat:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    height: 695px;
    background: #63a73a url("/img/index-background-desktop.png") no-repeat; } }

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 768px) {
    .logo {
      -webkit-box-pack: normal;
          -ms-flex-pack: normal;
              justify-content: normal; } }
  .logo__mobile {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }
    @media (min-width: 768px) {
      .logo__mobile {
        display: none; } }
    .logo__mobile-text {
      margin: 25px 0; }
      @media (min-width: 768px) {
        .logo__mobile-text {
          margin: 0;
          display: none; } }
  .logo__tablet {
    display: none; }
    @media (min-width: 768px) {
      .logo__tablet {
        display: block; } }
    @media (min-width: 1440px) {
      .logo__tablet {
        display: none; } }
  .logo__desktop {
    display: none; }
    @media (min-width: 1440px) {
      .logo__desktop {
        display: inline-block; } }

.nav {
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .nav {
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .nav__item {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    padding: 17px 0; }
    @media (min-width: 768px) {
      .nav__item {
        margin: 0 18px;
        padding: 5px 0;
        border-bottom: 2px solid #ffffff;
        -webkit-transition: opacity 0.2s ease, border 0.2s ease;
        transition: opacity 0.2s ease, border 0.2s ease; }
        .nav__item:hover {
          color: rgba(0, 0, 0, 0.6); }
        .nav__item:focus {
          color: rgba(0, 0, 0, 0.3); }
        .nav__item.active {
          border-color: #68b738; } }
    .nav__item--border {
      border-right: 1px solid rgba(102, 102, 102, 0.5);
      border-bottom: 1px solid rgba(102, 102, 102, 0.5);
      border-left: 1px solid rgba(102, 102, 102, 0.5); }
      @media (min-width: 768px) {
        .nav__item--border {
          border: none; } }
    @media (min-width: 1440px) {
      .nav__item--main {
        color: #ffffff;
        border-color: transparent; }
        .nav__item--main:hover {
          color: rgba(255, 255, 255, 0.6); }
        .nav__item--main:focus {
          border-bottom: 2px solid #ffffff; }
        .nav__item--main:active {
          color: rgba(255, 255, 255, 0.3); } }

.top-nav__links {
  text-align: center; }
  @media (min-width: 321px) {
    .top-nav__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 1440px) {
    .top-nav__links {
      background-color: #68b738; } }

.top-nav__item {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  margin: 25px 0; }
  @media (min-width: 321px) {
    .top-nav__item {
      margin: 0 18px;
      padding: 5px 0;
      -webkit-transition: opacity 0.2s ease, border 0.2s ease;
      transition: opacity 0.2s ease, border 0.2s ease; }
      .top-nav__item:hover {
        color: rgba(0, 0, 0, 0.6); }
      .top-nav__item:focus {
        border-bottom: 2px solid #68b738; }
      .top-nav__item:active {
        color: rgba(0, 0, 0, 0.3); } }
  @media (min-width: 1440px) {
    .top-nav__item {
      color: #ffffff; }
      .top-nav__item:focus {
        border-bottom: 2px solid #ffffff; } }
  .top-nav__item:first-child {
    margin-top: 0; }

.main-sect__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 1440px) {
    .main-sect__block {
      width: 50%;
      height: 695px; } }
  @media (min-width: 768px) {
    .main-sect__block--indent {
      padding-top: 80px; } }
  @media (min-width: 1440px) {
    .main-sect__block--indent {
      padding-top: 190px;
      padding-left: 80px; } }

.main-sect__label {
  text-align: center;
  color: #ffffff;
  background: #63a73a url("/img/index-background-mobile.png") no-repeat center;
  margin: 0 -20px;
  padding-top: 30px;
  height: 310px; }
  @media (min-width: 768px) {
    .main-sect__label {
      background: none;
      color: #000000;
      text-align: start;
      height: auto;
      margin: 0;
      padding-bottom: 45px; } }

.main-sect__title--indent {
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .main-sect__title--indent {
      padding-bottom: 35px; } }

.main-sect__description {
  text-transform: uppercase; }
  .main-sect__description--indent {
    padding-bottom: 45px; }
    @media (min-width: 768px) {
      .main-sect__description--indent {
        padding-bottom: 0; } }
    @media (min-width: 1440px) {
      .main-sect__description--indent {
        padding-bottom: 0; } }

.main-sect__picture--mobile {
  margin: -145px auto 10px auto; }
  @media (min-width: 768px) {
    .main-sect__picture--mobile {
      display: none; } }

.main-sect__picture--tablet {
  margin: -75px 0 0 -75px;
  display: none; }
  @media (min-width: 768px) {
    .main-sect__picture--tablet {
      display: block;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }
  @media (min-width: 1440px) {
    .main-sect__picture--tablet {
      display: none; } }

.main-sect__picture--desktop {
  display: none; }
  @media (min-width: 1440px) {
    .main-sect__picture--desktop {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      -webkit-transform: translate(-25%, -42%);
              transform: translate(-25%, -42%); } }

.main-sect__button {
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .main-sect__button {
      -ms-flex-item-align: start;
          align-self: flex-start;
      padding: 12px 25px; } }

@media (min-width: 1440px) {
  .choose__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 768px) {
  .choose__block--indent {
    margin-bottom: 50px; } }

@media (min-width: 1440px) {
  .choose__block--indent {
    padding-bottom: 20px; } }

.choose__element {
  background-color: #f2f2f2;
  padding: 25px 20px 20px 20px; }
  @media (min-width: 768px) {
    .choose__element {
      padding: 65px 55px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 1440px) {
    .choose__element {
      padding: 45px 55px;
      display: block;
      width: 50%; } }
  .choose__element--indent {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .choose__element--indent:last-child {
        margin-bottom: 0; } }
    @media (min-width: 1440px) {
      .choose__element--indent:last-child {
        margin-bottom: 20px; } }
    @media (min-width: 1440px) {
      .choose__element--indent:not(:first-child) {
        margin-left: 40px; } }
    @media (min-width: 1440px) {
      .choose__element--indent:not(:last-child) {
        margin-right: 40px; } }

@media (min-width: 768px) {
  .choose__content {
    width: 60%; } }

@media (min-width: 1440px) {
  .choose__content {
    width: auto; } }

.choose__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .choose__title--indent {
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .choose__title--indent {
        padding-bottom: 30px; } }
    @media (min-width: 1440px) {
      .choose__title--indent {
        padding-bottom: 45px; } }

.choose__icon {
  border-radius: 50%;
  background-color: #68b738;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .choose__icon--mobile {
    width: 50px;
    height: 50px; }
    .choose__icon--mobile .svg {
      width: 50px;
      height: 50px; }
  @media (min-width: 768px) {
    .choose__icon--invis-on-tab {
      display: none; } }
  @media (min-width: 1440px) {
    .choose__icon--invis-on-tab {
      display: block; } }
  .choose__icon--tablet {
    width: 200px;
    height: 200px; }
    .choose__icon--tablet .svg {
      width: 200px;
      height: 200px; }
  .choose__icon--vis-on-tab {
    display: none; }
    @media (min-width: 768px) {
      .choose__icon--vis-on-tab {
        display: block; } }
    @media (min-width: 1440px) {
      .choose__icon--vis-on-tab {
        display: none; } }
  @media (min-width: 1440px) {
    .choose__icon--desktop {
      width: 100px;
      height: 100px; }
      .choose__icon--desktop .svg {
        width: 100px;
        height: 100px; } }

.choose__label {
  text-transform: uppercase; }
  .choose__label--indent {
    padding-left: 20px; }
    @media (min-width: 768px) {
      .choose__label--indent {
        padding-left: 0; } }
    @media (min-width: 1440px) {
      .choose__label--indent {
        padding-left: 60px; } }

.choose__text--indent {
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .choose__text--indent {
      padding-bottom: 60px; } }
  @media (min-width: 1440px) {
    .choose__text--indent {
      padding-bottom: 22px; } }

.choose__text--border {
  border-bottom: 1px solid #666666; }
  @media (min-width: 768px) {
    .choose__text--border {
      border-bottom: none; } }

.choose__press {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .choose__press--indent {
    margin-top: 20px; }
    @media (min-width: 768px) {
      .choose__press--indent {
        margin-top: 0; } }

.choose__link {
  text-transform: uppercase;
  color: #000000;
  font: normal 16px/1 "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .choose__link {
      font: normal 20px/1 "Oswald", sans-serif; } }

.choose__pointer {
  color: #000000; }
  .choose__pointer .svg {
    width: 48px;
    height: 24px; }

.how {
  counter-reset: how-counter;
  /* Инициируем счетчик для how */ }
  .how__block--indent {
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .how__block--indent {
        padding-bottom: 0; } }
  .how__title--indent {
    padding-bottom: 35px; }
    @media (min-width: 768px) {
      .how__title--indent {
        padding-bottom: 70px; } }
  @media (min-width: 768px) {
    .how__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .how__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media (min-width: 768px) {
      .how__item {
        display: block;
        width: 50%;
        height: 300px; } }
    @media (min-width: 1440px) {
      .how__item {
        width: 25%;
        height: 255px; } }
    @media (min-width: 768px) {
      .how__item::before {
        counter-increment: how-counter;
        content: counter(how-counter);
        /* Отображает текущее
                                                 значение счетчика */
        position: absolute;
        top: -40px;
        right: 40px;
        bottom: 0;
        left: 0;
        color: #f2f2f2;
        font: normal 280px/1 "Oswald", sans-serif;
        text-align: center;
        z-index: 0; } }
  @media (min-width: 768px) and (min-width: 1440px) {
    .how__item::before {
      text-align: end; } }
    .how__item--indent {
      margin-bottom: 18px; }
  .how__trafaret {
    width: 60px;
    height: 60px;
    background-color: #68b738;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: relative; }
    @media (min-width: 768px) {
      .how__trafaret {
        width: 80px;
        height: 80px; } }
    @media (min-width: 1440px) {
      .how__trafaret {
        padding-right: 50px; } }
    @media (min-width: 768px) {
      .how__trafaret--indent {
        margin-bottom: 30px; } }
  .how__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ffffff; }
    .how__icon .svg {
      width: 30px;
      height: 30px; }
  .how__text {
    position: relative;
    z-index: 1; }
    .how__text--indent {
      padding-left: 15px; }
      @media (min-width: 768px) {
        .how__text--indent {
          padding-left: 0;
          padding-bottom: 45px; } }

@media (min-width: 1440px) {
  .example__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 1440px) {
  .example__content {
    width: 40%; } }

.example__title--indent {
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .example__title--indent {
      padding-bottom: 67px; } }
  @media (min-width: 1440px) {
    .example__title--indent {
      padding-top: 40px;
      padding-bottom: 150px; } }

.example__text--indent {
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .example__text--indent {
      padding-bottom: 50px; } }
  @media (min-width: 1440px) {
    .example__text--indent {
      padding-bottom: 70px; } }

@media (min-width: 768px) {
  .example__collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 90px; } }

@media (min-width: 1440px) {
  .example__collapse {
    display: block;
    margin-bottom: 0; } }

.example__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 768px) {
    .example__tabs {
      -webkit-box-pack: normal;
          -ms-flex-pack: normal;
              justify-content: normal; } }
  .example__tabs--indent {
    margin-bottom: 35px; }
    @media (min-width: 768px) {
      .example__tabs--indent {
        margin-bottom: 0; } }
    @media (min-width: 1440px) {
      .example__tabs--indent {
        margin-bottom: 60px; } }

.example__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  height: 56px;
  border: 1px solid rgba(102, 102, 102, 0.5);
  border-radius: 3px;
  text-transform: uppercase;
  position: relative; }
  @media (min-width: 768px) {
    .example__tab {
      width: 165px;
      height: 70px; }
      .example__tab:first-child {
        margin-right: 40px; } }

.example__dop-text {
  text-align: center;
  position: absolute;
  padding: 0 15px;
  top: 100%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  text-transform: none;
  background-color: #f2f2f2;
  white-space: nowrap;
  font: normal 12px/1 "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .example__dop-text {
      font: normal 14px/1 "Oswald", sans-serif;
      padding: 0 10px; } }

.example__payed {
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .example__payed {
      text-align: end; } }
  @media (min-width: 1440px) {
    .example__payed {
      text-align: start; } }
  .example__payed--indent {
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .example__payed--indent {
        padding-bottom: 0; } }

.example__pic {
  pointer-events: none;
  position: relative; }
  .example__pic--indent {
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .example__pic--indent {
        padding-bottom: 50px; } }
    @media (min-width: 1440px) {
      .example__pic--indent {
        padding-right: 20px; } }

.example__dop-block--indent {
  margin-bottom: 20px; }

.example--indent {
  padding-top: 30px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .example--indent {
      padding-top: 15px;
      padding-bottom: 50px;
      padding-left: 90px; } }
  @media (min-width: 1440px) {
    .example--indent {
      padding-top: 0;
      padding-bottom: 30px; } }

.example--push {
  margin-right: -20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .example--push {
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media (min-width: 1440px) {
    .example--push {
      margin-right: -110px;
      margin-left: -110px;
      padding-right: 110px;
      padding-left: 110px; } }

.example--bg-grey {
  background-color: #f2f2f2; }

.map {
  position: relative; }
  .map__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f2f2f2; }
    @media (min-width: 1440px) {
      .map__block {
        position: absolute;
        background-color: #ffffff;
        left: 110px;
        top: 100px;
        width: 570px; } }
    .map__block--indent {
      padding: 20px; }
      @media (min-width: 768px) {
        .map__block--indent {
          padding: 60px; } }
      @media (min-width: 1440px) {
        .map__block--indent {
          padding: 55px 75px; } }
  .map__title {
    width: 50%;
    text-transform: uppercase;
    font: normal 16px/20px "Oswald", sans-serif; }
    @media (min-width: 768px) {
      .map__title {
        font: normal 20px/25px "Oswald", sans-serif; } }
  .map__address {
    width: 50%; }
    @media (min-width: 768px) {
      .map__address {
        text-align: end;
        font: 16px/20px Aria, sans-serif; } }
    @media (min-width: 1440px) {
      .map__address {
        text-align: start; } }
    .map__address--indent {
      margin-left: 80px; }
  .map__inner {
    height: 360px; }
    @media (min-width: 768px) {
      .map__inner {
        height: 400px; } }
    .map__inner iframe {
      display: block; }
  .map--push {
    margin-right: -20px;
    margin-left: -20px; }
    @media (min-width: 768px) {
      .map--push {
        margin-right: -30px;
        margin-left: -30px; } }
    @media (min-width: 1440px) {
      .map--push {
        margin-right: -110px;
        margin-left: -110px; } }

.form__container--size-small {
  border-radius: 5px; }

.form__container--size-big {
  border-radius: 25px; }

.btn {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px; }
  .btn-primary {
    background-color: #68b738;
    color: #ffffff;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease; }
    .btn-primary:hover {
      background-color: #5eaa2f; }
    .btn-primary:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3); }
  .btn-secondary {
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease; }
    .btn-secondary:hover {
      background-color: #eaeaea; }
    .btn-secondary:active {
      background-color: #eaeaea;
      color: rgba(0, 0, 0, 0.25); }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social .icon {
    color: #666666;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none; }
    .social .icon svg {
      width: 16px;
      height: 16px; }
      @media (min-width: 768px) {
        .social .icon svg {
          width: 23px;
          height: 23px; } }
    .social .icon:not(:last-child) {
      margin-right: 40px; }

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-reset: how-counter; }
  .switcher__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font: normal 16px/20px "Oswald", sans-serif; }
  .switcher__slider {
    margin: 0 15px;
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
    /*    &:after {
      display: none;
      content: '';
      position: absolute;
      top: 25%;
      right: 50%;
      bottom: 25%;
      left: 5%;
      border-radius: 3px;
      background-color: $primary;
      transition: transform $transition-time easy;
      transform: translateX(0);
      pointer-events: auto;
      //transform: translateX(100%);
      @media (min-width: $tablet) {
        display: none;
      }
    }
    &:hover:after {
      box-shadow: 0 2px 5px 0 rgba(50, 50, 50, .25);
    }
    &:active:after {
      border: 2px solid $primary;
      box-shadow: 0 3px 5px 0 rgba(50, 50, 50, .35);
    }*/ }
    @media (min-width: 768px) {
      .switcher__slider {
        width: 428px;
        height: 6px;
        border: none;
        background-color: #dcdcdc; } }
  .switcher__pointer {
    position: absolute;
    top: 25%;
    right: 50%;
    bottom: 25%;
    left: 5%;
    border-radius: 3px;
    background-color: #68b738;
    -webkit-transition: -webkit-transform 0.2s easy;
    transition: -webkit-transform 0.2s easy;
    transition: transform 0.2s easy;
    transition: transform 0.2s easy, -webkit-transform 0.2s easy;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
    @media (min-width: 768px) {
      .switcher__pointer {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1px solid #dcdcdc;
        cursor: pointer;
        width: 35px;
        height: 35px;
        background-color: #ffffff;
        -webkit-transition: opacity 0.2s ease, border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
        transition: opacity 0.2s ease, border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
        transition: box-shadow 0.2s ease, opacity 0.2s ease, border-color 0.2s ease;
        transition: box-shadow 0.2s ease, opacity 0.2s ease, border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15); }
        .switcher__pointer:before {
          pointer-events: none; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .switcher__pointer:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #68b738;
        width: 8px;
        height: 8px;
        z-index: 1; } }
    @media (min-width: 768px) {
        .switcher__pointer:after {
          content: '';
          position: absolute;
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          border-radius: 50%;
          border: 2px solid #68b738;
          opacity: 0;
          -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease; }
        .switcher__pointer:hover {
          border-color: #68b738;
          -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
                  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25); }
        .switcher__pointer:active:after {
          opacity: 1;
          -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
                  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3); } }
  .switcher__text {
    -webkit-transition: border 0.2s ease;
    transition: border 0.2s ease; }
    @media (min-width: 768px) {
      .switcher__text {
        border-bottom: 1px dotted rgba(0, 0, 0, 0.23); } }
    @media (min-width: 768px) {
      .switcher__text:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4); } }
    @media (min-width: 768px) {
      .switcher__text:active {
        border-bottom: 1px solid transparent; } }

.element__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .element__wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; } }
  .element__wrap--all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }

@media (min-width: 768px) {
  .element__picture--relative {
    display: none; } }

.element__picture--absolute {
  display: none; }
  @media (min-width: 768px) {
    .element__picture--absolute {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -110%);
              transform: translate(-50%, -110%); } }

.element__picture--mob-all {
  padding-top: 35px; }
  @media (min-width: 768px) {
    .element__picture--mob-all {
      display: none; } }

.element__picture--big-all {
  display: none; }
  @media (min-width: 768px) {
    .element__picture--big-all {
      display: block; } }

.element__title {
  text-transform: uppercase;
  font: normal 16px/20px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .element__title {
      text-align: center;
      font: normal 20px/20px "Oswald", sans-serif; } }
  .element__title--indent {
    padding-top: 25px;
    padding-bottom: 15px; }
    @media (min-width: 768px) {
      .element__title--indent {
        padding-bottom: 30px; } }
  .element__title--all-indent {
    padding-top: 25px;
    padding-bottom: 5px; }
    @media (min-width: 768px) {
      .element__title--all-indent {
        padding-bottom: 30px; } }

.element__description {
  width: 100%; }
  .element__description--indent {
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .element__description--indent {
        padding-bottom: 35px; } }

.element__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.2; }
  @media (min-width: 768px) {
    .element__line--all {
      height: 84px; } }
  @media (min-width: 768px) {
    .element__line--indent {
      padding: 6px 0; } }
  @media (min-width: 768px) {
    .element__line--all-indent {
      padding-top: 27px; } }
  @media (min-width: 768px) {
    .element__line--border {
      border-bottom: 1px solid rgba(102, 102, 102, 0.5); } }

.element__button {
  margin-bottom: 20px;
  width: 100%;
  text-transform: uppercase;
  font: normal 16px/20px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .element__button {
      font: normal 20px/20px "Oswald", sans-serif;
      margin-bottom: 0; } }

@media (min-width: 768px) {
  .element--bg {
    background: #f2f2f2; } }

.element--border {
  border-top: 1px solid rgba(102, 102, 102, 0.5);
  border-right: 1px solid rgba(102, 102, 102, 0.5);
  border-left: 1px solid rgba(102, 102, 102, 0.5); }
  @media (min-width: 768px) {
    .element--border {
      border: 0; } }

.element--border-all {
  border: 1px solid rgba(102, 102, 102, 0.5); }

.element--indent {
  padding: 0 20px;
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .element--indent {
      margin-top: 130px;
      padding: 140px 40px 40px 40px; } }

.element--all-push {
  margin: 0 -20px;
  padding-right: 20px;
  padding-left: 20px; }

@media (min-width: 768px) {
  .element--all-indent {
    margin-top: 130px;
    padding: 80px 40px 40px 40px; } }

.cat-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font: normal 16px/18px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .cat-input {
      font: normal 20px/20px "Oswald", sans-serif; } }
  .cat-input__input {
    height: 45px;
    padding: 15px;
    text-transform: uppercase;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 15px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    -webkit-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    font: normal 16px/18px "Oswald", sans-serif; }
    @media (min-width: 768px) {
      .cat-input__input {
        height: 52px;
        margin-left: 16px;
        padding: 15px 20px;
        font: normal 20px/20px "Oswald", sans-serif; } }
    @media (min-width: 1440px) {
      .cat-input__input {
        margin-left: 19px; } }
    .cat-input__input--amind {
      padding-right: 55px !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .cat-input__input:invalid {
      border: 2px solid #ff8282; }
  .cat-input__icon-set {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (min-width: 768px) {
      .cat-input__icon-set {
        right: 20px; } }
    .cat-input__icon-set .svg {
      width: 20px;
      height: 20px; }
    .cat-input__icon-set__icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.cat-radiobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .cat-radiobox__radioed {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(205, 205, 205, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: border-color 0.2s ease, color 0.2s ease;
    transition: border-color 0.2s ease, color 0.2s ease;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .cat-radiobox__radioed {
        width: 40px;
        height: 40px; } }
    .cat-radiobox__radioed:after {
      content: "";
      background: #68b738;
      width: 42%;
      height: 42%;
      border-radius: 50%;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .cat-radiobox__radioed:hover {
      border-color: #cdcdcd; }
  .cat-radiobox__input:checked ~ .cat-radiobox__radioed:after {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .cat-radiobox__text {
    text-transform: uppercase; }
    .cat-radiobox__text--margin-left {
      margin-left: 16px; }
      @media (min-width: 1440px) {
        .cat-radiobox__text--margin-left {
          margin-left: 20px; } }
  .cat-radiobox--indent {
    margin-bottom: 13px; }
    .cat-radiobox--indent:last-child {
      margin-bottom: 0; }

.cat-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .cat-checkbox__checked {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(205, 205, 205, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    @media (min-width: 768px) {
      .cat-checkbox__checked {
        width: 40px;
        height: 40px; } }
    .cat-checkbox__checked .svg {
      width: 40px;
      height: 40px;
      color: #68b738;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
  .cat-checkbox__input:checked ~ .cat-checkbox__checked .svg {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .cat-checkbox__text {
    text-transform: uppercase; }
    .cat-checkbox__text--truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .cat-checkbox__text--ml13 {
      margin-left: 13px; }

.zel__block {
  height: 100px; }

.zel-400 {
  height: 400px; }

.zel--border {
  border: 1px solid; }

.bg-red {
  background: red; }

.bg-orange {
  background: orange; }

.bg-yellow {
  background: yellow; }

.bg-green {
  background: green; }

.bg-cyan {
  background: cyan; }

.bg-blue {
  background: blue; }

.bg-violet {
  background: violet; }

.bg-yellowgreen {
  background: yellowgreen; }

.catalog__title--indent {
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .catalog__title--indent {
      padding-bottom: 10px; } }

@media (min-width: 768px) {
  .catalog__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.catalog__item {
  width: 100%; }
  @media (min-width: 768px) {
    .catalog__item {
      width: 50%; } }
  @media (min-width: 1440px) {
    .catalog__item {
      width: 25%; } }
  @media (min-width: 768px) {
    .catalog__item--indent {
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .catalog__item--indent {
      padding: 0 40px; } }

.catalog--indent {
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .catalog--indent {
      padding-bottom: 65px; } }
  @media (min-width: 1440px) {
    .catalog--indent {
      padding-bottom: 80px; } }

@media (min-width: 768px) {
  .additional__warp {
    padding: 0; } }

@media (min-width: 1440px) {
  .additional__warp {
    padding: 0; } }

.additional__warp--indent {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .additional__warp--indent {
      margin-bottom: 0; } }
  @media (min-width: 1440px) {
    .additional__warp--indent {
      margin-bottom: 85px; } }

.additional__separator {
  position: relative; }
  .additional__separator:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #68b738;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: -2000px; }
    @media (min-width: 768px) {
      .additional__separator:before {
        left: -2000px; } }
  .additional__separator--indent {
    margin-bottom: 35px; }
    @media (min-width: 768px) {
      .additional__separator--indent {
        margin-bottom: 78px;
        margin-left: 35px; } }
    @media (min-width: 1440px) {
      .additional__separator--indent {
        margin-bottom: 85px;
        margin-left: 0; } }

.additional__title {
  padding-right: 30px;
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  font: normal 24px/24px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .additional__title {
      padding: 0 40px; } }
  @media (min-width: 768px) {
    .additional__title {
      font: normal 36px/36px "Oswald", sans-serif; } }
  .additional__title--xx1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .additional__title--xx1:after, .additional__title--xx1:before {
      content: ' ';
      display: block;
      height: 1px;
      background-color: #000;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .additional__title--xx1:after {
      margin-left: 100px; }
    .additional__title--xx1:before {
      margin-right: 100px; }

@media (min-width: 1440px) {
  .additional__items {
    width: 75%; } }

.additional__items--indent {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .additional__items--indent {
      margin-bottom: 75px; } }
  @media (min-width: 1440px) {
    .additional__items--indent {
      margin-bottom: 0;
      margin-right: 40px; } }

@media (min-width: 1440px) {
  .additional__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.additional__item---push {
  margin: 0 -20px;
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .additional__item---push {
      margin: 0;
      padding: 0; } }

.additional__item--indent {
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 768px) {
    .additional__item--indent {
      padding: 25px 35px; } }
  @media (min-width: 1440px) {
    .additional__item--indent {
      padding: 15px 0; } }

.additional__item--border {
  border-top: 1px solid rgba(102, 102, 102, 0.5); }
  .additional__item--border:last-child {
    border-bottom: 1px solid rgba(102, 102, 102, 0.5); }
  @media (min-width: 768px) {
    .additional__item--border {
      border-right: 1px solid rgba(102, 102, 102, 0.5);
      border-left: 1px solid rgba(102, 102, 102, 0.5); } }
  @media (min-width: 1440px) {
    .additional__item--border {
      border-right: 0;
      border-left: 0; } }

@media (min-width: 768px) {
  .additional__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .additional__tablet--indent {
      margin-bottom: 24px; } }
  @media (min-width: 768px) and (min-width: 1440px) {
    .additional__tablet--indent {
      margin-bottom: 0;
      margin-right: 50px; } }

@media (min-width: 1440px) {
  .additional__tablet {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

@media (min-width: 1440px) {
  .additional__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.additional__item-name {
  font: normal 16px/16px "Oswald", sans-serif;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .additional__item-name {
      font: normal 20px/20px "Oswald", sans-serif; } }
  @media (min-width: 1440px) {
    .additional__item-name {
      width: 55%; } }
  .additional__item-name--indent {
    padding-bottom: 10px; }
    @media (min-width: 768px) {
      .additional__item-name--indent {
        padding-bottom: 0; } }

.additional__params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 1440px) {
    .additional__params {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
  .additional__params--indent {
    padding-bottom: 13px; }
    @media (min-width: 768px) {
      .additional__params--indent {
        padding-bottom: 0; } }

@media (min-width: 768px) {
  .additional__description--indent {
    padding-right: 60px; } }

@media (min-width: 1440px) {
  .additional__description--indent {
    padding-right: 55px; } }

.additional__button {
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  font: normal 16px/20px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .additional__button {
      width: 100%; } }
  @media (min-width: 1440px) {
    .additional__button {
      width: auto;
      padding-left: 95px;
      padding-right: 95px; } }

.additional__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1; }
  @media (min-width: 768px) {
    .additional__photo {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media (min-width: 1440px) {
    .additional__photo {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 25%; } }
  .additional__photo__text--color {
    color: #ffffff; }
  .additional__photo__text--indent {
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .additional__photo__text--indent {
        padding-bottom: 0; } }
  .additional__photo--bg {
    background: #63a73a url("/img/gift-photo-mobile.png") no-repeat center;
    height: 289px; }
    @media (min-width: 768px) {
      .additional__photo--bg {
        background: #63a73a url("/img/gift-photo-tablet.png") no-repeat center;
        height: 200px; } }
    @media (min-width: 1440px) {
      .additional__photo--bg {
        background: #63a73a url("/img/gift-photo-desktop.png") no-repeat center;
        height: auto; } }
  .additional__photo--color {
    color: #ffffff; }
  @media (min-width: 1440px) {
    .additional__photo--indent {
      margin-left: 40px; } }
  .additional__photo--indent1 {
    margin-top: 40px; }
    @media (min-width: 768px) {
      .additional__photo--indent1 {
        margin-top: 65px; } }
    @media (min-width: 1440px) {
      .additional__photo--indent1 {
        margin: 0; } }

.additional__gift .svg {
  width: 60px;
  height: 60px; }

.additional__gift--indent {
  padding-top: 65px;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .additional__gift--indent {
      padding: 0; } }

.additional__text {
  font: normal 16px/20px "Oswald", sans-serif; }

@media (min-width: 768px) {
  .select__warp {
    padding: 0 40px; } }

@media (min-width: 1440px) {
  .select__warp {
    padding: 0; } }

@media (min-width: 768px) {
  .select__title--push {
    margin-left: -40px; } }

@media (min-width: 1440px) {
  .select__title--push {
    margin-left: 0; } }

.select__title--indent {
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .select__title--indent {
      padding-bottom: 55px; } }

.select__description {
  text-transform: uppercase; }
  .select__description--indent {
    padding-bottom: 35px; }
    @media (min-width: 768px) {
      .select__description--indent {
        padding-bottom: 70px; } }
    @media (min-width: 1440px) {
      .select__description--indent {
        padding-bottom: 65px; } }

.select__subpath {
  position: relative; }
  .select__subpath:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #68b738;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: -2000px; }
    @media (min-width: 768px) {
      .select__subpath:before {
        left: -2000px; } }

.select__subpath-name {
  padding-right: 30px;
  background-color: #ffffff;
  position: relative;
  display: inline-block; }
  @media (min-width: 768px) {
    .select__subpath-name {
      padding: 0 40px; } }

@media (min-width: 1440px) {
  .select__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 1440px) {
  .select__desktop--indent {
    padding-bottom: 65px; } }

@media (min-width: 1440px) {
  .select__main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

.select__main--indent {
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .select__main--indent {
      padding-bottom: 70px; } }
  @media (min-width: 1440px) {
    .select__main--indent {
      padding-bottom: 0;
      padding-right: 40px; } }

@media (min-width: 1440px) {
  .select__radio {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; } }

.select__radio--border {
  margin: 0 -20px;
  padding: 0 20px;
  border-top: 1px solid rgba(102, 102, 102, 0.5);
  border-bottom: 1px solid rgba(102, 102, 102, 0.5); }
  @media (min-width: 768px) {
    .select__radio--border {
      margin: 0;
      padding: 0;
      border: 1px solid rgba(102, 102, 102, 0.5); } }

.select__radio--indent {
  padding: 20px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .select__radio--indent {
      padding: 25px;
      margin-bottom: 75px; } }
  @media (min-width: 1440px) {
    .select__radio--indent {
      margin-left: 40px;
      margin-bottom: 0; } }

.select__item {
  white-space: nowrap; }
  @media (min-width: 1440px) {
    .select__item {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
  .select__item--indent {
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .select__item--indent {
        margin-bottom: 20px; } }
    .select__item--indent:last-child {
      margin-bottom: 0; }
  @media (min-width: 1440px) {
    .select__item--amind {
      width: 50%; }
      .select__item--amind:first-child {
        margin-right: 20px; }
      .select__item--amind:last-child {
        margin-left: 20px; } }
  @media (min-width: 1440px) {
    .select__item--bad {
      margin-bottom: 0; } }

.select__contact--indent {
  padding: 30px 0; }
  @media (min-width: 768px) {
    .select__contact--indent {
      padding: 70px 0; } }
  @media (min-width: 1440px) {
    .select__contact--indent {
      padding: 75px 0 70px 0; } }

.select__section--indent {
  margin: 35px 0 25px 0; }
  @media (min-width: 768px) {
    .select__section--indent {
      margin: 75px 0 60px 0; } }

.select__textarea {
  height: 150px;
  width: 100%;
  padding: 12px 13px;
  text-transform: uppercase;
  resize: none;
  border: 1px solid rgba(102, 102, 102, 0.5); }
  @media (min-width: 768px) {
    .select__textarea {
      height: 174px; } }
  .select__textarea::-webkit-input-placeholder {
    color: #444444;
    font: normal 16px/18px "Oswald", sans-serif; }
  .select__textarea::-moz-placeholder {
    color: #444444;
    font: normal 16px/18px "Oswald", sans-serif; }
  .select__textarea:-ms-input-placeholder {
    color: #444444;
    font: normal 16px/18px "Oswald", sans-serif; }
  .select__textarea::-ms-input-placeholder {
    color: #444444;
    font: normal 16px/18px "Oswald", sans-serif; }
  .select__textarea::placeholder {
    color: #444444;
    font: normal 16px/18px "Oswald", sans-serif; }
    @media (min-width: 768px) {
      .select__textarea::-webkit-input-placeholder {
        font: normal 20px/20px "Oswald", sans-serif; }
      .select__textarea::-moz-placeholder {
        font: normal 20px/20px "Oswald", sans-serif; }
      .select__textarea:-ms-input-placeholder {
        font: normal 20px/20px "Oswald", sans-serif; }
      .select__textarea::-ms-input-placeholder {
        font: normal 20px/20px "Oswald", sans-serif; }
      .select__textarea::placeholder {
        font: normal 20px/20px "Oswald", sans-serif; } }

@media (min-width: 768px) {
  .select__check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.select__check .select__item {
  margin-bottom: 13px; }
  @media (min-width: 768px) {
    .select__check .select__item {
      margin-bottom: 35px; } }
  @media (min-width: 1440px) {
    .select__check .select__item {
      margin-bottom: 0; } }

.select__check--indent {
  margin: 35px 0 30px 0; }
  @media (min-width: 768px) {
    .select__check--indent {
      margin: 35px 0 25px 0; } }
  @media (min-width: 1440px) {
    .select__check--indent {
      margin: 45px 0; } }

@media (min-width: 768px) {
  .select__tablet {
    width: 50%; } }

@media (min-width: 1440px) {
  .select__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.select__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .select__last {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .select__last--indent {
    margin-bottom: 35px; }
    @media (min-width: 768px) {
      .select__last--indent {
        margin-bottom: 75px; } }
    @media (min-width: 1440px) {
      .select__last--indent {
        margin-bottom: 85px; } }

.select__button {
  width: 100%;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .select__button {
      width: 45%;
      margin-right: 50px; } }
  @media (min-width: 1440px) {
    .select__button {
      width: 46.5%;
      margin-right: 80px; } }
  .select__button--indent {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .select__button--indent {
        margin-bottom: 0; } }

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.grid__col-3 {
  width: 25%; }

.grid__col-4 {
  width: 33.3333%; }

.grid__col-9 {
  width: 75%; }

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 321px) {
    .footer__block {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer__block--indent {
    padding: 0 20px; }
    @media (min-width: 321px) {
      .footer__block--indent {
        padding: 0 30px; } }
    @media (min-width: 1440px) {
      .footer__block--indent {
        padding: 0 110px; } }

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  position: relative; }
  .footer__item:first-child {
    padding-top: 0; }
  .footer__item:last-child {
    padding-bottom: 0; }
  .footer__item:not(:first-child):not(:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666; }
    @media (min-width: 768px) {
      .footer__item:not(:first-child):not(:last-child):after {
        border-top: 0;
        border-bottom: 0; } }
  @media (min-width: 768px) {
    .footer__item {
      padding: 0; } }

.footer__made-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 100%; }
  @media (min-width: 321px) {
    .footer__made-by {
      width: auto; } }
  .footer__made-by .icon svg {
    width: 30px;
    height: 30px; }

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer--padding {
  padding: 55px 0 35px 0; }
  @media (min-width: 768px) {
    .footer--padding {
      padding: 50px 0; } }

.footer--bg-grey {
  background-color: #f2f2f2; }

.footer--back {
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .footer--back {
      margin: 0 -30px; } }
  @media (min-width: 1440px) {
    .footer--back {
      margin: 0 -110px; } }
