* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

.push, .header__warp, .header__block {
  padding: 0 20px; }
  @media (min-width: 768px) {
    .push, .header__warp, .header__block {
      padding: 0 30px; } }
  @media (min-width: 1440px) {
    .push, .header__warp, .header__block {
      padding: 0 110px;
      max-width: 1440px;
      margin: 0 auto; } }

.btn {
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px 0; }
  @media (min-width: 322px) {
    .btn {
      width: 250px;
      padding: 10px 30px; } }
  .btn-primary {
    background-color: #68b738;
    color: #fff; }

h1 {
  font: normal 36px/36px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    h1 {
      font: normal 60px/60px "Oswald", sans-serif; } }

.h2, h2 {
  font: normal 36px/36px "Oswald", sans-serif; }
  @media (min-width: 322px) {
    .h2, h2 {
      font: normal 60px/60px "Oswald", sans-serif; } }

.h3, h3 {
  font: normal 24px/1 "Oswald", sans-serif; }
  @media (min-width: 322px) {
    .h3, h3 {
      font: normal 36px/1 "Oswald", sans-serif; } }

.h4, h4 {
  font: 500 20px/30px "Oswald", sans-serif; }
  @media (min-width: 768px) {
    .h4, h4 {
      font: normal 18px/27px "Oswald", sans-serif; } }
  @media (min-width: 1440px) {
    .h4, h4 {
      font: normal 20px/30px "Oswald", sans-serif; } }

.h5, .btn, h5 {
  font: normal 14px/21px "Oswald", sans-serif; }
  @media (min-width: 322px) {
    .h5, .btn, h5 {
      font: normal 20px/30px "Oswald", sans-serif; } }

.header__warp {
  position: relative; }
  @media (min-width: 768px) {
    .header__warp {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.header__logo {
  position: absolute; }

@media (min-width: 1440px) {
  .header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.header__block--unpush {
  margin: 0 -20px;
  padding: 0 20px; }

@media (min-width: 1440px) {
  .header__main-sect {
    width: 50%; } }

@media (min-width: 1440px) {
  .header__cat {
    width: 50%;
    height: 696px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background: url("/img/index-background-desktop.png") no-repeat; } }

.logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .logo__mobile {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px; }
    @media (min-width: 768px) {
      .logo__mobile {
        display: none; } }
    .logo__mobile-text {
      padding: 25px 0; }
      @media (min-width: 768px) {
        .logo__mobile-text {
          display: none; } }
  .logo__tablet {
    display: none; }
    @media (min-width: 768px) {
      .logo__tablet {
        display: inline-block; } }
    @media (min-width: 1440px) {
      .logo__tablet {
        display: none; } }
  .logo__desktop {
    display: none; }
    @media (min-width: 768px) {
      .logo__desktop {
        display: none; } }
    @media (min-width: 1440px) {
      .logo__desktop {
        display: block; } }

.nav {
  text-align: center; }
  @media (min-width: 768px) {
    .nav__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .nav__item {
    display: block;
    text-transform: uppercase;
    padding: 25px 0;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 10, 0); }
    @media (min-width: 768px) {
      .nav__item {
        padding: 0 20px; } }

@media (min-width: 768px) {
  .main-sect__block--indent {
    padding-left: 90px; } }

.main-sect__label {
  text-align: center;
  color: #fff; }
  @media (min-width: 768px) {
    .main-sect__label {
      text-align: left;
      color: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .main-sect__label--bg-cat {
    height: 305px;
    background: url("/img/index-background-mobile.png") no-repeat; }
    @media (min-width: 768px) {
      .main-sect__label--bg-cat {
        background: none;
        height: auto; } }
  .main-sect__label--unpush {
    margin: 0 -20px;
    padding: 0 20px; }
  .main-sect__label--indent {
    padding-top: 30px; }
    @media (min-width: 768px) {
      .main-sect__label--indent {
        padding-top: 70px; } }
    @media (min-width: 1440px) {
      .main-sect__label--indent {
        padding-top: 115px; } }

.main-sect__title--indent {
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .main-sect__title--indent {
      padding-bottom: 30px; } }
  @media (min-width: 1440px) {
    .main-sect__title--indent {
      padding-bottom: 35px; } }

.main-sect__description {
  text-transform: uppercase; }
  .main-sect__description--indent {
    padding-bottom: 40px; }
    @media (min-width: 1440px) {
      .main-sect__description--indent {
        padding-bottom: 50px; } }

@media (min-width: 322px) {
  .main-sect__picture--mobile {
    display: none; } }

.main-sect__picture--tablet {
  margin-top: -75px;
  display: none; }
  @media (min-width: 322px) {
    .main-sect__picture--tablet {
      display: block;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }
  @media (min-width: 1440px) {
    .main-sect__picture--tablet {
      display: none; } }

.main-sect__picture--desktop {
  display: none; }
  @media (min-width: 1440px) {
    .main-sect__picture--desktop {
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-30%);
              transform: translateX(-30%); } }

.main-sect__btn {
  text-transform: uppercase;
  position: relative;
  z-index: 1; }
