.additional{
  &__warp {
    @media (min-width: $tablet ) {
      padding: 0;
    }
    @media (min-width: $desktop ) {
      padding: 0;
    }
    &--indent {
      padding-bottom: 45px;
      @media (min-width: $tablet ) {
        padding-bottom: 0;
      }
      @media (min-width: $desktop ) {
        padding-bottom: 85px;
      }
    }
  }

  &__title {
    @include font(normal, 24px, 24px);
    @media (min-width: $tablet ) {
      @include font(normal, 36px, 36px);
    }
    &--indent {
      padding-bottom: 35px;
      @media (min-width: $tablet ) {
        padding-bottom: 78px;
        padding-left: 35px;
      }
      @media (min-width: $desktop ) {
        padding-bottom: 85px;
        padding-left: 0;
      }
    }
    &--xx1 {
      align-items: center;
      justify-content: center;
      display: flex;
      &:after, &:before{
        content: ' ';
        display: block;
        height: 1px;
        background-color: #000;
        flex-grow: 1;
      }
      &:after{
        margin-left: 100px;
      }
      &:before{
        margin-right: 100px;
      }
    }
  }
  &__items {
    @media (min-width: $desktop) {
      width: 75%;
    }
    &--indent {
      margin-bottom: 40px;
      @media (min-width: $tablet ) {
        margin-bottom: 75px;
      }
      @media (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 40px;
      }
    }
  }
  &__item {
    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
    }
    &---push {
      margin: 0 -20px;
      padding-right: 20px;
      padding-left: 20px;
      @media (min-width: $tablet ) {
        margin: 0;
        padding: 0;
      }
    }
    &--indent {
      padding-top: 15px;
      padding-bottom: 15px;

      @media (min-width: $tablet ) {
        padding: 25px 35px;
      }
      @media (min-width: $desktop) {
        padding: 15px 0;
      }
    }
    &--border {
      border-top: 1px solid rgba($diz, .5);

      &:last-child {
          border-bottom: 1px solid rgba($diz, .5);
      }
      @media (min-width: $tablet ) {
        border-right: 1px solid rgba($diz, .5);
        border-left: 1px solid rgba($diz, .5);
      }
      @media (min-width: $desktop) {
        border-right: 0;
        border-left: 0;
      }
    }
  }

  &__tablet {
    @media (min-width: $tablet ) {
      display: flex;
      justify-content: space-between;
      &--indent {
        @media (min-width: $tablet ) {
          margin-bottom: 24px;
        }
        @media (min-width: $desktop ) {
          margin-bottom: 0;
          margin-right: 50px;
        }
      }
    }
    @media (min-width: $desktop ) {
      flex-grow: 1;
    }
  }

  &__desktop {
    @media (min-width: $desktop ) {
      display: flex;
    }
  }

  &__item-name {
    @include font(normal, 16px, 16px);
    text-transform: uppercase;
    @media (min-width: $tablet ) {
      @include font(normal, 20px, 20px);
    }
    &--indent {
      padding-bottom: 10px;
      @media (min-width: $tablet ) {
        padding-bottom: 0;
      }
    }
  }
  &__params {
    display: flex;
    justify-content: space-between;
    @media (min-width: $tablet ) {

    }
    &--indent {
      padding-bottom: 13px;
      @media (min-width: $tablet ) {
        padding-bottom: 0;
      }
    }
  }
  &__description {

    &--indent {
      @media (min-width: $tablet ) {
        padding-right: 60px;
      }
    }
  }
  &__button {
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
    @include font(normal, 16px, 20px);
    @media (min-width: $tablet ) {
      width: 100%;
    }
    @media (min-width: $desktop ) {
      width: auto;
      padding-left: 95px;
      padding-right: 95px;
    }
  }
  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    @media (min-width: $tablet ) {
      flex-direction: row;
      justify-content: space-around;
    }
    @media (min-width: $desktop ) {
      flex-direction: column;
      width: 25%;
    }
    &__text {

      &--color {
        color: $white;
      }
      &--indent {
        padding-bottom: 50px;
        @media (min-width: $tablet ) {
          padding-bottom: 0;
        }
      }
    }
    &--bg {
      background: #63a73a url('/img/gift-photo-mobile.png') no-repeat center;
      height: 289px;
      @media (min-width: $tablet ) {
        background: #63a73a url('/img/gift-photo-tablet.png') no-repeat center;
        height: 200px;
      }
      @media (min-width: $desktop ) {
        background: #63a73a url('/img/gift-photo-desktop.png') no-repeat center;
        height: auto;
      }
    }
    &--color {
      color: $white;
    }
    &--indent {
      @media (min-width: $desktop ) {
        margin-left: 40px;
      }
    }
    &--indent1 {
      margin-top: 40px;
      @media (min-width: $tablet ) {
        margin-top: 65px;
      }
      @media (min-width: $desktop ) {
        margin: 0;
      }
    }
  }
  &__gift {

    .svg {
      @include square-size(60px);
    }
    &--indent {
      padding-top: 65px;
      padding-bottom: 50px;
      @media (min-width: $tablet ) {
        padding-top: 0;
      }
    }
  }
  &__text {
    @include font(normal, 16px, 20px);
  }
}