* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //font-family: 'Oswald', sans-serif;
  font: 14px/18px Aria, sans-serif;
  @media (min-width: $mobile) {
    font: 16px/24px Aria, sans-serif;
  }
}

a {
  text-decoration: none;
}

.visible-only-mobile {
  @media (min-width: $mobile) {
    display: none;
  }
}

.visible-after-mobile {
  display: none;
  @media (min-width: $mobile) {
    display: block;
  }
}

.visible-on-tab {
  display: none;
  @media (min-width: $mobile) {
    display: block;
  }
  @media (min-width: $desktop) {
    display: none;
  }
}

