.breakpoint {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellow;
  transition: color $transition-time ease ;
  z-index: 999;
  transform: translate(25%, 25%);
  opacity: .5;
  @media (min-width: $tablet) {
    background-color: deeppink;
  }
  @media (min-width: $desktop) {
    background-color: aqua;
  }
}