
.btn {
  text-align: center;
  display: inline-block;
  @extend .h5;
  cursor: pointer;
  padding: 10px 15px;
  &-primary {
    background-color: $primary;
    color: $white;
    transition: background $transition-time ease;
    &:hover {
      background-color: $primary-press;
    }
    &:active {
      background-color: $primary-press;
      color: rgba($white, .3);
    }
  }
  &-secondary {
    background-color: $secondary;
    color: rgba($black, .8);
    transition: background $transition-time ease;
    &:hover {
      background-color: $tertiary;
    }
    &:active {
      background-color: $tertiary;
      color: rgba($black, .25);
    }
  }
}