.choose {
  &__block {
    @media (min-width: $desktop) {
      display: flex;
    }
    &--indent {
      @media (min-width: $tablet) {
        margin-bottom: 50px;
      }
      @media (min-width: $desktop) {
        padding-bottom: 20px;
      }
    }
  }
  &__element {
    background-color: $secondary;
    padding: 25px 20px 20px 20px;
    @media (min-width: $tablet) {
      padding: 65px 55px;
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: $desktop) {
      padding: 45px 55px;
      display: block;
      width: 50%;
    }
    &--indent {
      margin-bottom: 20px;
      &:last-child {
        @media (min-width: $tablet) {
          margin-bottom: 0;
        }
        @media (min-width: $desktop) {
          margin-bottom: 20px;
        }
      }
      &:not(:first-child) {
        @media (min-width: $desktop) {
          margin-left: 40px;
        }
      }
      &:not(:last-child) {
        @media (min-width: $desktop) {
          margin-right: 40px;
        }
      }
    }
  }
  &__content {
    @media (min-width: $tablet) {
      width: 60%;
    }
    @media (min-width: $desktop) {
      width: auto;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    &--indent {
      padding-bottom: 20px;
      @media (min-width: $tablet) {
        padding-bottom: 30px;
      }
      @media (min-width: $desktop) {
        padding-bottom: 45px;
      }
    }
  }
  &__icon {
    border-radius: 50%;
    background-color: $primary;
    flex-shrink: 0;

    &--mobile {
      width: 50px;
      height: 50px;
      .svg {
        width: 50px;
        height: 50px;
      }
    }

    &--invis-on-tab {
      @media (min-width: $tablet) {
        display: none;
      }
      @media (min-width: $desktop) {
        display: block;
      }
    }

    &--tablet {
      width: 200px;
      height: 200px;
      .svg {
        width: 200px;
        height: 200px;
      }
    }

    &--vis-on-tab {
      display: none;
      @media (min-width: $tablet) {
        display: block;
      }
      @media (min-width: $desktop) {
        display: none;
      }
    }
    &--desktop {
      @media (min-width: $desktop) {
        width: 100px;
        height: 100px;
        .svg {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  &__label {
    text-transform: uppercase;
    &--indent {
      padding-left: 20px;
      @media (min-width: $tablet) {
        padding-left: 0;
      }
      @media (min-width: $desktop) {
        padding-left: 60px;
        }
    }
  }
  &__text {
/*    height: 111px;
    @media (min-width: $tablet) {
      height: 156px;
    }
    @media (min-width: $desktop) {
      padding-bottom: 22px;
    }*/
    &--indent {
      padding-bottom: 20px;
      @media (min-width: $tablet) {
        padding-bottom: 60px;
      }
      @media (min-width: $desktop) {
        padding-bottom: 22px;
      }
    }
    &--border {
      border-bottom: 1px solid $diz;
      @media (min-width: $tablet) {
        border-bottom: none;
      }
    }
  }
  &__press {
    display: flex;
    align-items: center;
    &--indent {
      margin-top: 20px;
      @media (min-width: $tablet) {
        margin-top: 0;
      }
    }
  }
  &__link {
    text-transform: uppercase;
    color: $black;
    @include font(normal, 16px, 1);
    @media (min-width: $tablet) {
      @include font(normal, 20px, 1);
    }

  }
  &__pointer {
    color: $black;
    .svg {
      width: 48px;
      height: 24px;
    }
  }
}
