.choose {
  &__block {
    @media (min-width: $desktop) {
      display: flex;
    }
  }
  &__element {
    background-color: $secondary;
    padding: 20px;
    @media (min-width: $mobile) {
      padding: 70px 55px;
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: $desktop) {
      display: block;
      width: 50%;
    }
    &--indent {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: $desktop) {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    @media (min-width: $mobile) {
      width: 60%;
    }
    @media (min-width: $desktop) {
      width: auto;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    &--indent {
      padding-bottom: 20px;
    }
  }
  &__icon {
    border-radius: 50%;
    background-color: $primary;
    flex-shrink: 0;

    &--mobile {
      width: 50px;
      height: 50px;
      .svg {
        width: 50px;
        height: 50px;
      }
    }

    &--invis-on-tab {
      @media (min-width: $mobile) {
        display: none;
        opacity: 0;
      }
      @media (min-width: $desktop) {
        display: block;
      }
    }

    &--tablet {
      width: 200px;
      height: 200px;
      .svg {
        width: 200px;
        height: 200px;
      }
    }

    &--vis-on-tab {
      display: none;
      @media (min-width: $mobile) {
        display: block;
      }
      @media (min-width: $desktop) {
        display: none;
      }
    }
    &--desktop {
      @media (min-width: $desktop) {
        width: 100px;
        height: 100px;
        .svg {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  &__label {
    text-transform: uppercase;
    &--indent {
      margin-left: 20px;
      @media (min-width: $mobile) {
        margin-left: 0;
      }
      @media (min-width: $desktop) {
        margin-left: 60px;
      }
    }

  }
  &__text {
    &--indent {
      padding-bottom: 20px;
      @media (min-width: $mobile) {
        padding-bottom: 55px;
      }
    }
    &--border {
      border-bottom: 1px solid $diz;
      @media (min-width: $mobile) {
        border-bottom: none;
      }
    }
  }
  &__press {
    display: flex;
    align-items: center;
    &--indent {
      margin-top: 20px;
      @media (min-width: $mobile) {
        margin-top: 0;
      }
    }
  }
  &__link {
    text-transform: uppercase;
    color: $black;
  }
  &__pointer {
    color: $black;
    .svg {
      width: 48px;
      height: 24px;
    }
  }
  &--indent {
    margin-bottom: 20px;
    @media (min-width: $mobile) {
      margin-bottom: 30px;
    }
    @media (min-width: $desktop) {
      margin-bottom: 70px;
    }
  }
  &--temp-desktop {
    @media (min-width: $desktop) {
      margin-top: 280px;
    }
  }
}
