.content {
  max-width: $content-width;
  margin: 0 auto;
  &__warp {
    padding: 0 20px;
    @media (min-width: $tablet) {
      padding: 0 30px;
    }
    @media (min-width: $desktop) {
      padding: 0 110px;
    }
  }
}