.element {
  //background-color: rgba(red, .5);
  &__wrap {
    display: flex;
    align-items: center;
    @media (min-width: $tablet ) {
      flex-direction: column;
      position: relative;
    }
    &--all {
      flex-direction: column;
      text-align: center;
    }
  }
  &__picture {
    &--relative {
      @media (min-width: $tablet ) {
        display: none;
      }
    }
    &--absolute {
      display: none;
      @media (min-width: $tablet ) {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-110%);
      }
    }
    &--mob-all {
      padding-top: 35px;
      @media (min-width: $tablet ) {
        display: none;
      }
    }
    &--big-all {
      display: none;
      @media (min-width: $tablet ) {
        display: block;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    @include font(normal, 16px, 20px);
    @media (min-width: $tablet ) {
      text-align: center;
      @include font(normal, 20px, 20px);
    }
    &--indent {
      padding-top: 25px;
      padding-bottom: 15px;
      @media (min-width: $tablet ) {
        padding-bottom: 30px;
      }
    }
    &--all-indent {
      padding-top: 23px;
      padding-bottom: 5px;
      @media (min-width: $tablet ) {
        padding-bottom: 30px;
      }
    }
  }
  &__description {
    width: 100%;
    &--indent {
      padding-bottom: 20px;
      @media (min-width: $tablet ) {
        padding-bottom: 35px;
      }
    }
  }
  &__line {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    &--all {
      @media (min-width: $tablet ) {
        height: 84px;
      }
    }
    &--indent {
      @media (min-width: $tablet ) {
        padding: 6px 0;
      }
    }
    &--all-indent {
      @media (min-width: $tablet ) {
        padding-top: 27px;

      }
    }
    &--border {
      @media (min-width: $tablet ) {
        border-bottom: 1px solid rgba($diz, .5);
      }
    }
  }

  &__button {
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
    @include font(normal, 16px, 20px);
    @media (min-width: $tablet ) {
      @include font(normal, 20px, 20px);
      margin-bottom: 0;
    }
  }
  &--bg {
    @media (min-width: $tablet ) {
      background: $secondary;
    }
  }
  &--border {
    border-top: 1px solid rgba($diz, .5);
    border-right: 1px solid rgba($diz, .5);
    border-left: 1px solid rgba($diz, .5);
    @media (min-width: $tablet ) {
      border: 0;
    }
  }
  &--border-all {
      border: 1px solid rgba($diz, .5);
  }
  &--indent {
    padding: 0 20px;
    //border: 1px solid red;
    margin: 0 -20px;
    @media (min-width: $tablet ) {
      margin-top: 130px;
      padding: 140px 40px 40px 40px;
    }
  }
  &--all-push {
    margin: 0 -20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  &--all-indent {
    //padding-bottom: 30px;
    @media (min-width: $tablet ) {
      margin-top: 130px;
      padding: 80px 40px 40px 40px;
    }
  }
}