.element {
  //background-color: rgba(red, .5);
  &__wrap {
    display: flex;
    align-items: center;
    @media (min-width: $tablet ) {
      flex-direction: column;
      position: relative;
    }
  }
  &__picture {
    &--relative {
      @media (min-width: $tablet ) {
        display: none;
      }
    }
    &--absolute {
      display: none;
      @media (min-width: $tablet ) {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-110%);
      }
    }
  }
  &__title {
    text-transform: uppercase;
    @include font(normal, 16px, 20px);
    @media (min-width: $tablet ) {
      text-align: center;
    }
    &--indent {
      padding-bottom: 15px;
    }
  }
  &__description {
    width: 100%;
    &--indent {
      padding-bottom: 25px;
      @media (min-width: $tablet ) {
        padding-bottom: 35px;
      }
    }
  }
  &__line {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    &--indent {
      @media (min-width: $tablet ) {
        padding: 5px 0;
      }
    }
    &--border {
      @media (min-width: $tablet ) {
      border-bottom: 1px solid rgba($diz, .5);
      }
    }
  }

  &__button {
    margin: 0 auto;
    text-transform: uppercase;
    @include font(normal, 16px, 20px);
    @media (min-width: $tablet ) {
      @include font(normal, 20px, 20px);
    }
  }
  &--bg {
    @media (min-width: $tablet ) {
      background: $secondary;
    }
  }
  &--indent {
    padding: 20px 0;
    @media (min-width: $tablet ) {
      margin-top: 150px;
      padding: 120px 40px 40px 40px;
    }
  }
}