.example {
  &__block {
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__content {
    @media (min-width: $desktop) {
      width: 40%;
    }
  }
  &__title {
    &--indent {
      padding-bottom: 35px;
      @media (min-width: $mobile) {
        padding-bottom: 60px;
      }
      @media (min-width: $desktop) {
        padding-bottom: 140px;
      }
    }
  }
  &__text {
    &--indent {
      padding-bottom: 25px;
      //padding-bottom: 95px;
      @media (min-width: $mobile) {
        padding-bottom: 55px;
      }
      @media (min-width: $desktop) {
        padding-bottom: 70px;
      }
    }
  }
  &__collapse {
    @media (min-width: $mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 90px;
    }
  }
  &__tabs {
    display: flex;
    justify-content: space-between;
    @media (min-width: $mobile) {
      justify-content: normal;
    }
    &--indent {
      margin-bottom: 40px;
      @media (min-width: $mobile) {
        margin-bottom: 0;
      }
    }
  }
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 56px;
    border: 1px solid rgba($diz, .5);
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    @media (min-width: $mobile) {
      width: 165px;
      height: 70px;
      &:first-child {
        margin-right: 40px;
      }
    }

  }
  &__dop-text {
    text-align: center;
    position: absolute;
    padding: 0 15px;
    top: 100%;
    transform: translateY(-50%);
    text-transform: none;
    background-color: $secondary;
    white-space: nowrap;
    @include font(normal, 12px, 1);
    @media (min-width: $mobile) {
      background-color: $white;
      @include font(normal, 14px, 1);
      padding: 0 10px;
    }
  }
  &__payed {
    text-align: center;
    text-transform: uppercase;
    &--indent {
      padding-bottom: 35px;
      @media (min-width: $mobile) {
        padding-bottom: 0;
      }
    }
  }
  &__warp {
    @media (min-width: $mobile) {
      background-color: lightblue;
    }
    &--indent {
      @media (min-width: $mobile) {
        padding-bottom: 65px;
      }
    }
  }
  &__pic {
    pointer-events: none;
    position: relative;
    &--indent {
      margin-bottom: 40px;
    }
  }
  &__dop-block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    &--indent {
      margin-bottom: 0;
      @media (min-width: $mobile) {
        margin-bottom: 0;
      }
    }
  }
  &__slider {
    margin: 0 15px;
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid rgba($diz, .5);
    border-radius: 5px;
    background-color: $white;
    @media (min-width: $mobile) {
      width: 428px;
      height: 6px;
      border: none;
      background-color: $dop-color;
      pointer-events: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 25%;
      right: 50%;
      bottom: 25%;
      left: 5%;
      border-radius: 3px;
      background-color: $primary;
      transition: transform $transition-time easy;
      transform: translateX(0);
      pointer-events: auto;
      //transform: translateX(100%);
      @media (min-width: $mobile) {
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        border: 1px solid $dop-color;
        //background-color: red;
        background-color: $white;
        box-shadow: 0 1px 5px 0 rgba(50, 50, 50, .15);
        @include square-size(35px);
        transition: box-shadow $transition-time ease, border $transition-time ease;
      }
    }
    &:hover:after {
      box-shadow: 0 2px 5px 0 rgba(50, 50, 50, .25);
    }
    &:active:after {
      border: 2px solid $primary;
      box-shadow: 0 3px 5px 0 rgba(50, 50, 50, .35);
    }
    &:before {
      @media (min-width: $mobile) {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        //background-color: red;
        background-color: $primary;
        @include square-size(8px);
        z-index: 1;
      }
      pointer-events: none;
    }
  }
  &--indent {
    padding: 20px 20px 30px 20px;
    margin-bottom: 30px;
    @media (min-width: $mobile) {
      //padding-bottom: 50px;
      //padding-left: 90px;
    }
    @media (min-width: $desktop) {
      padding-bottom: 30px;
    }
  }
  &--push {
    margin-right: -20px;
    margin-left: -20px;
  }
  &--bg-grey {
    background-color: $secondary;
    @media (min-width: $mobile) {
      background: none;
    }
  }
}