.example {
  &__block {
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__content {
    @media (min-width: $desktop) {
      width: 40%;
    }
  }
  &__title {
    &--indent {
      padding-bottom: 35px;
      @media (min-width: $tablet) {
        //padding-top: 225px; ////////////////////////////////////////////////////////// BAD
        padding-bottom: 67px;
      }
      @media (min-width: $desktop) {
        padding-top: 40px;
        padding-bottom: 150px;
      }
    }
  }
  &__text {
    &--indent {
      padding-bottom: 25px;
      @media (min-width: $tablet) {
        padding-bottom: 50px;
      }
      @media (min-width: $desktop) {
        padding-bottom: 70px;
      }
    }
  }
  &__collapse {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 90px;
    }
    @media (min-width: $desktop) {
      display: block;
      margin-bottom: 0;
    }
  }
  &__tabs {
    display: flex;
    justify-content: space-between;
    @media (min-width: $tablet) {
      justify-content: normal;
    }
    &--indent {
      margin-bottom: 35px;
      @media (min-width: $tablet) {
        margin-bottom: 0;
      }
      @media (min-width: $desktop) {
        margin-bottom: 60px;
      }
    }
  }
  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 56px;
    border: 1px solid rgba($diz, .5);
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    @media (min-width: $tablet) {
      width: 165px;
      height: 70px;
      &:first-child {
        margin-right: 40px;
      }
    }
  }
  &__dop-text {
    text-align: center;
    position: absolute;
    padding: 0 15px;
    top: 100%;
    transform: translateY(-30%);
    text-transform: none;
    background-color: $secondary;
    white-space: nowrap;
    @include font(normal, 12px, 1);
    @media (min-width: $tablet) {
      //background-color: $white;
      @include font(normal, 14px, 1);
      padding: 0 10px;
    }
  }
  &__payed {
    text-transform: uppercase;
    text-align: center;
    @media (min-width: $tablet) {
      text-align: end;
    }
    @media (min-width: $desktop) {
      text-align: start;
    }
    &--indent {
      padding-bottom: 40px;
      @media (min-width: $tablet) {
        padding-bottom: 0;
      }
    }
  }
  &__pic {
    pointer-events: none;
    position: relative;
    &--indent {
      padding-bottom: 40px;
      @media (min-width: $tablet) {
        padding-bottom: 50px;
      }
      @media (min-width: $desktop) {
        padding-right: 20px;
      }
    }
  }
  &__dop-block {
    &--indent {
      margin-bottom: 20px;
    }
  }
  &--indent {
    padding-top: 30px;
    padding-bottom: 20px;
    @media (min-width: $tablet) {
      padding-top: 15px;
      padding-bottom: 50px;
      padding-left: 90px;
    }
    @media (min-width: $desktop) {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }
  &--push {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
    @media (min-width: $tablet) {
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }
    @media (min-width: $desktop) {
      margin-right: -110px;
      margin-left: -110px;
      padding-right: 110px;
      padding-left: 110px;
    }
  }

  &--bg-grey {
    background-color: $secondary;
/*    @media (min-width: $tablet) {
      background: rgba($secondary, .3);
    }*/
  }
}