.header {

  &__warp {
    position: relative;
    z-index: 1;
    @extend .push;
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media (min-width: $desktop) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }
  &__logo {
    position: absolute;
  }
  &__block {
    @extend .push;
    @media (min-width: $desktop) {
      display: flex;
    }
    &--unpush {
      margin: 0 -20px;
      padding: 0 20px;
    }
  }
  &__main-sect {
    @media (min-width: $desktop) {
      width: 50%;
    }
  }

  &__cat {
    position: relative;
    width: 50%;
    height: 300px;
  }
}