.how {
  counter-reset: how-counter; /* Инициируем счетчик для how */
  &__block {
    &--indent {
      padding-bottom: 20px;
      @media(min-width: $tablet) {
        padding-bottom: 0;
      }
    }
  }
  &__title {
    &--indent {
      padding-bottom: 35px;
      @media(min-width: $tablet) {
        padding-bottom: 70px;
      }
    }
  }
  &__items {
    @media(min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    @media(min-width: $tablet) {
      //border: 1px solid #000;
      display: block;
      width: 50%;
      height: 300px;
    }
    @media(min-width: $desktop) {
      width: 25%;
      height: 255px;
    }
    @media(min-width: $tablet) {
      &::before {
        counter-increment: how-counter;
        content: counter(how-counter);   /* Отображает текущее
                                                 значение счетчика */
        position: absolute;
        top: -40px;
        right: 40px;
        bottom: 0;
        left: 0;
        color: $secondary;
        @include font(normal, 280px, 1);
        text-align: center;
        z-index: 0 ;
        @media(min-width: $desktop) {
          text-align: end;
        }        
      }
    }
    &--indent {
      margin-bottom: 18px;
      @media(min-width: $tablet) {
        //padding-right: 125px;
      }
      @media(min-width: $desktop) {
        //padding-right: 50px;
      }
    }
  }
  &__trafaret {
    @include square-size(60px);
    @media(min-width: $tablet) {
      @include square-size(80px);
    }
    @media(min-width: $desktop) {
      padding-right: 50px;
    }
    background-color: $primary;
    flex-shrink: 0;
    position: relative;
    &--indent {
      @media(min-width: $tablet) {
        margin-bottom: 30px;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    .svg {
      @include square-size(30px);
    }
  }
  &__text {
    position: relative;
    z-index: 1;
    &--indent {
      padding-left: 15px;
      @media(min-width: $tablet) {
        padding-left: 0;
        padding-bottom: 45px;
      }
    }
  }
}