.how {
  &__block {
    &--indent {
      margin-bottom: 50px;
    }
  }
  &__title {
    &--indent {
      padding-bottom: 40px;
      @media(min-width: $mobile) {
        padding-bottom: 75px;
      }
    }
  }
  &__items {
    @media(min-width: $mobile) {
      display: flex;
      flex-wrap: wrap-reverse;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    @media(min-width: $mobile) {
      display: block;
      width: 50%;
    }
    @media(min-width: $desktop) {
      width: 25%;
    }
    &--indent {
      margin-bottom: 20px;
      @media(min-width: $mobile) {
        padding-right: 125px;
      }
      @media(min-width: $desktop) {
        padding-right: 50px;
      }
    }
  }
  &__trafaret {
    @include square-size(60px);
    @media(min-width: $mobile) {
      @include square-size(80px);
    }
    background-color: $primary;
    flex-shrink: 0;
    position: relative;
    &--indent {
      @media(min-width: $mobile) {
        margin-bottom: 30px;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    .svg {
      @include square-size(30px);
    }
  }
  &__text {
    position: relative;
    z-index: 1;
    &--indent {
      padding-left: 15px;
      @media(min-width: $mobile) {
        padding-left: 0;
        padding-bottom: 45px;
      }
    }
  }
  &__count {
    display: none;
    @media(min-width: $mobile) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      color: $secondary;
      @include font(normal, 230px, 1);
      text-align: center;
      z-index: 0 ;
    }
  }
  &--temp-margin {
    @media(min-width: $mobile) {
      margin-bottom: 135px;
    }
  }
}