.logo {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  @media (min-width: $tablet) {
    justify-content: normal;
  }
  @media (min-width: $desktop) {
    //justify-content: center;
  }
  &__mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    @media (min-width: $tablet) {
      display: none;
    }
    &-text {
      margin: 25px 0;
      @media (min-width: $tablet) {
        margin: 0;
        display: none;
      }
    }
  }
  &__tablet {
    display: none;
    @media (min-width: $tablet) {
      display: block;
    }
    @media (min-width: $desktop) {
      display: none;
    }
  }
  &__desktop {
    display: none;
    @media (min-width: $desktop) {
      display: inline-block;
    }
  }
}