
.main-sect {
  &__block {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
    }
    @media (min-width: $desktop) {
      width: 50%;
      height: 695px;
    }
    &--indent {
      @media (min-width: $tablet) {
        padding-top: 80px;
      }
      @media (min-width: $desktop) {
        padding-top: 190px;
        padding-left: 80px;
      }
    }
  }
  &__label {
    text-align: center;
    color: $white;
    background: #63a73a url('/img/index-background-mobile.png') no-repeat center;
    margin: 0 -20px;
    padding-top: 30px;
    height: 310px;
    @media (min-width: $tablet) {
      background: none;
      color: $black;
      text-align: start;
      height: auto;
      margin: 0;
      padding-bottom: 40px;
    }
    @media (min-width: $desktop) {
    }
    &--indent {
      @media (min-width: $tablet) {
      }
    }
  }
  &__title {

    &--indent {
      padding-bottom: 20px;
      @media (min-width: $tablet) {
        padding-bottom: 35px;
      }
    }
  }
  &__description {
    text-transform: uppercase;
    &--indent {
      padding-bottom: 45px;
      @media (min-width: $tablet) {
        padding-bottom: 0;
      }
      @media (min-width: $desktop) {
        padding-bottom: 0;
      }
    }
  }
  &__picture {
    &--mobile {
      margin: -145px auto 10px auto;
      @media (min-width: $tablet) {
        display: none;
      }
    }
    &--tablet {
      margin: -75px 0 0 -75px;
      display: none;
      @media (min-width: $tablet) {
        display: block;
        order: 1 ;
      }
      @media (min-width: $desktop) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @media (min-width: $desktop) {
        display: block;          ///////////////////////////////////////////////////////////////////////////
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translate(-25%, -42%);
      }
    }
  }
  &__button {
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }
}