.main-sect {
  &__block {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: $mobile) {
      padding-left: 15px;
    }
    @media (min-width: $desktop) {
      position: relative;
    }
  }
  &__label {
    text-align: center;
    color: $white;
    background: url('/img/index-background-mobile.png') no-repeat;
    margin: 0 -20px;
    padding: 26px 20px;
    height: 310px;
    @media (min-width: $mobile) {
      background: none;
      color: $black;
      text-align: start;
      height: auto;
      padding-bottom: 40px;
    }
    @media (min-width: $desktop) {
    }
  }
  &__title {
    &--indent {
      //padding-top: 6px;
      padding-bottom: 20px;
      @media (min-width: $mobile) {
        padding-bottom: 40px;
      }
    }
  }
  &__description {
    text-transform: uppercase;
    &--indent {
      padding-bottom: 45px;
      @media (min-width: $mobile) {
        padding-bottom: 0;
      }
      @media (min-width: $desktop) {
        padding-bottom: 0;
      }
    }
  }
  &__picture {
    &--mobile {
      margin: -145px auto 10px auto;
      @media (min-width: $mobile) {
        display: none;
      }
    }
    &--tablet {
      margin: -75px 0 0 -75px;
      display: none;
      @media (min-width: $mobile) {
        display: block;
        order: 1 ;
      }
      @media (min-width: $desktop) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @media (min-width: $desktop) {
        display: block;          ///////////////////////////////////////////////////////////////////////////
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-30%);
      }
    }
  }
  &__button {
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }
}