.maket {
  position: relative;
  &__pos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: .3;
    z-index: 11;
    pointer-events: none;
    display: none;
    &--mobile {
      top: 13px;
      @if $maket-visible == 1 {
        display: block;
        @media (min-width: $mobile) {
          display: none;
        }
      }
    }
    &--tablet {
      @if $maket-visible == 1 {
        @media (min-width: $mobile) {
          display: block;
        }
        @media (min-width: $desktop) {
          display: none;
        }
      }
    }
    &--desktop {
      @if $maket-visible == 1 {
        @media (min-width: $desktop) {
          display: block;
        }
      }
    }
  }
}