.map {
  height: 450px;
  @media (min-width: $desktop) {
    height: 500px;
  }
  &__block {
    display: flex;
    //margin-top: 40px;
    &--indent {
      margin-bottom: 25px;
      @media (min-width: $mobile) {
        padding: 0 60px;
      }
    }
  }
  &__title {
    width: 50%;
    text-transform: uppercase;
    //font-weight: bold;
    //@include font(normal, 16px, 20px);
  }
  &__address {
    width: 50%;
    @media (min-width: $mobile) {
      text-align: end;
    }
  }
  &__inner {
    margin: 0 -20px;
  }
}






.form {
  &__container {
    &--size-small {
      border-radius: 5px;
    }
    &--size-big {
      border-radius: 25px;
    }
  }
}