.map {
  //height: 478px;
  position: relative;
  &__block {
    display: flex;
    align-items: center;
    @media (min-width: $desktop) {
      position: absolute;
      background-color: white;
      left: 110px;
      top: 100px;
      width: 570px;
    }
    &--indent {
      padding: 20px;
      @media (min-width: $tablet) {
        padding: 60px 40px;
      }
      @media (min-width: $desktop) {
        padding: 65px 75px;
      }
    }
  }
  &__title {
    width: 50%;
    text-transform: uppercase;
    @include font(normal, 16px, 20px);
    @media (min-width: $tablet) {
      @include font(normal, 20px, 25px);
    }
    @media (min-width: $desktop) {
      width: 70%;
    }
  }
  &__address {
    width: 50%;
    @media (min-width: $tablet) {
      text-align: end;
      font: 16px/20px Aria, sans-serif;
    }
    @media (min-width: $desktop) {
      text-align: start;
    }

  }
  &__inner {
    height: 360px;
    @media (min-width: $tablet) {
      height: 400px;
    }
    iframe {
      display: block;
    }
    &--indent {
      //margin: 0 -30px;
    }
  }
  &--push {
    margin-right: -20px;
    margin-left: -20px;
    @media (min-width: $tablet) {
      margin-right: -30px;
      margin-left: -30px;
    }
    @media (min-width: $desktop) {
      margin-right: -110px;
      margin-left: -110px;
    }
  }
}






.form {
  &__container {
    &--size-small {
      border-radius: 5px;
    }
    &--size-big {
      border-radius: 25px;
    }
  }
}