.nav {
  width: 100%;
  text-align: center;
  @media (min-width: $tablet) {
    width: auto;
    display: flex;
  }
  &__item {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    padding: 17px 0;
    @media (min-width: $tablet) {
      margin: 0 18px;
      padding: 5px 0;
      border-bottom: 2px solid $white;
      transition: opacity $transition-time ease, border $transition-time ease;
      &:hover {
        color: rgba($black,.6)
      }
      &:focus {
        color: rgba($black,.3);
      }
      &.active {
        border-color: $primary;
      }
    }
    &--border {
      border-right: 1px solid rgba($diz, .5);
      border-bottom: 1px solid rgba($diz, .5);
      border-left: 1px solid rgba($diz, .5);
      @media (min-width: $tablet) {
        border: none;
      }
    }
    &--main {
      @media (min-width: $desktop) {
        color: $white;
        border-color: transparent;
        &:hover {
          color: rgba($white,.6)
        }
        &:focus {
          border-bottom: 2px solid $white;
        }
        &:active {
          color: rgba($white,.3);
        }
      }
    }
  }
}