.nav {
  //border: 1px solid navy;
  text-align: center;

  &__links {
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 17px 0;
    color: $black;
    -webkit-tap-highlight-color: rgba(0, 0, 10, 0);
    @media (max-width: $tablet) {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -20px;
        bottom: 0;
        left: -20px;
        border-top: 2px solid royalblue;
      }
    }
    @media (min-width: $tablet) {
      padding: 0 20px;
    }
  }
}