.social {
  display: flex;

    .icon {
      color: $diz;
      svg {
        @include square-size(25px);
      }
      transition: all $transition-time ease;
      cursor: pointer;
      outline: none;
      &:not(:last-child) {
        margin-right: 20px;
        @media (min-width: $mobile) {
          margin-right: 30px;
        }
      }
      &:hover {
      }
      &:active {
      }
    }
    &--indent {
    }
}