.social {
  display: flex;

    .icon {
      svg {
        @include square-size(25px);
      }
      cursor: pointer;
      outline: none;
      &:not(:last-child) {
        margin-right: 20px;
        @media (min-width: $mobile) {
          margin-right: 30px;
        }
      }
      color: $diz;
      transition: color $transition-time ease, opacity $transition-time ease;
      &:hover {
        color: $primary;
      }
      &:active {
        opacity: .3;
        color: $primary;
      }
    }
}