.social {
  display: flex;

    .icon {
      color: $diz;
      svg {
        @include square-size(24px);
      }
      transition: all $transition-time ease;
      cursor: pointer;
      outline: none;
      &:not(:last-child) {
        margin-right: 45px;
      }
      &:hover {
      }
      &:active {
      }
    }
    &--indent {
    }
}