.switcher {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  counter-reset: how-counter;
  &__text {
    align-items: center;
    text-transform: uppercase;
    @include font(normal, 16px, 20px);
  }
  &__slider {
    margin: 0 15px;
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid rgba($diz, .5);
    border-radius: 5px;
    background-color: $white;
    @media (min-width: $tablet) {
      width: 428px;
      height: 6px;
      border: none;
      background-color: $dop-color;
    }
    &:after {
      display: none;
      content: '';
      position: absolute;
      top: 25%;
      right: 50%;
      bottom: 25%;
      left: 5%;
      border-radius: 3px;
      background-color: $primary;
      transition: transform $transition-time easy;
      transform: translateX(0);
      pointer-events: auto;
      //transform: translateX(100%);
      @media (min-width: $tablet) {
        display: none;
      }
    }
    &:hover:after {
      box-shadow: 0 2px 5px 0 rgba(50, 50, 50, .25);
    }
    &:active:after {
      border: 2px solid $primary;
      box-shadow: 0 3px 5px 0 rgba(50, 50, 50, .35);
    }
  }
  &__pointer {
    position: absolute;
    top: 25%;
    right: 50%;
    bottom: 25%;
    left: 5%;
    border-radius: 3px;
    background-color: $primary;
    transition: transform $transition-time easy;
    transform: translateX(0);
    //transform: translateX(100%);
    @media (min-width: $tablet) {
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      border: 1px solid $dop-color;
      cursor: pointer;
      @include square-size(35px);
      background-color: $white;
      transition: box-shadow $transition-time ease, opacity $transition-time ease, border-color $transition-time ease;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
      &:before {
        @media (min-width: $tablet) {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border-radius: 50%;
          background-color: $primary;
          @include square-size(8px);
          z-index: 1;
        }
        pointer-events: none;
      }
      &:after {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: 50%;
        border: 2px solid $primary;
        opacity: 0;
        transition: opacity $transition-time ease;
      }
      &:hover {
        border-color: $primary;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25);
      }
      &:active {
        &:after {
          opacity: 1;
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .3);
        }
      }
    }
  }
  &__text {
    @media (min-width: $tablet) {
      border-bottom: 1px dotted rgba($black,.23);
    }
    transition: border $transition-time ease;
    &:hover {
      @media (min-width: $tablet) {
        border-bottom: 1px solid rgba($black,.4);
      }
    }
    &:active {
      @media (min-width: $tablet) {
        border-bottom: 1px solid transparent;
      }
    }
  }
}