.switcher {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  &__slider {
    margin: 0 15px;
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid rgba($diz, .5);
    border-radius: 5px;
    background-color: $white;
    @media (min-width: $mobile) {
      width: 428px;
      height: 6px;
      border: none;
      background-color: $dop-color;
      pointer-events: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 25%;
      right: 50%;
      bottom: 25%;
      left: 5%;
      border-radius: 3px;
      background-color: $primary;
      transition: transform $transition-time easy;
      transform: translateX(0);
      pointer-events: auto;
      //transform: translateX(100%);
      @media (min-width: $mobile) {
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        border: 1px solid $dop-color;
        //background-color: red;
        background-color: $white;
        box-shadow: 0 1px 5px 0 rgba(50, 50, 50, .15);
        @include square-size(35px);
        transition: box-shadow $transition-time ease, border $transition-time ease;
      }
    }
    &:hover:after {
      box-shadow: 0 2px 5px 0 rgba(50, 50, 50, .25);
    }
    &:active:after {
      border: 2px solid $primary;
      box-shadow: 0 3px 5px 0 rgba(50, 50, 50, .35);
    }
    &:before {
      @media (min-width: $mobile) {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        //background-color: red;
        background-color: $primary;
        @include square-size(8px);
        z-index: 1;
      }
      pointer-events: none;
    }
  }
  &__text {
    border-bottom: 1px dotted rgba($black,.23);
    transition: border $transition-time ease;
    &:hover {
      border-bottom: 1px solid rgba($black,.4);
    }
    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}